<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shopping Portal</title>
    <link rel="stylesheet" href="~/Content/css/skel.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/style-xlarge.css" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/skel.min.js"></script>
    <script src="~/Content/js/skel-layers.min.js"></script>
    <script src="~/Content/js/init.js"></script>
</head>
<body>
    <header id="header">
        <h1><a href="~/Home/insertItem/">Welcome </a></h1>
        <nav id="nav">
            <ul>
                <li><a href="~/Home/Index/">Home</a></li>
                <li><a href="~/Log/Login/">Login</a></li>
                <li><a href="~/Log/SignUp/">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <section class="4u 6u(medium) 12u$(small)">
                    <h3>Muhammad Yasir</h3>
                    <p>Founder and Cheif Executive Officer of the company</p>
                    <p>Software Engineer</p>

                </section>
                <section class="4u 6u(medium) 12u$(small)">
                    <h3></h3>


                </section>
                <section class="4u$ 12u$(medium) 12u$(small)">
                    <h3>Contact Us</h3>
                    <ul class="icons">
                        <li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
                        <li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
                        <li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                    <ul class="tabular">
                        <li>
                            <h3>Address</h3>
                            Somewhere on Earth, Milkyway, Universe.
                        </li>
                        <li>
                            <h3>Mail</h3>
                            <a href="#">yasir.khalid553@yahoo.com</a>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            0300 4446924
                        </li>
                    </ul>
                </section>
            </div>
            <ul class="copyright">
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>
</html>

