@model EAD_Project_ii_.Models.user
@{
    ViewBag.Title = "forgotPass";
    Layout = "~/Views/Shared/_logSharedView.cshtml";
}
<section id="main" class="wrapper">
    <div class="container-form">

        <header class="major">
            <h2>Forgot Password</h2>
        </header>
        <!-- Form -->
        <section>

            <form method="post" action="~/Log/fp/">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <h3>Enter Name</h3>
                        <input type="text" name="userName" id="userName" value="" placeholder="Name" />
                    </div>
                    <div class="12u$">
                        <select name="securityQuestion">
                            <option value="0" selected>Select Security Question</option>
                            <option value="school">What was the name of your First school?</option>
                            <option value="hero">Who is your all time favorite hero?</option>
                        </select>
                    </div>
                    <div class="12u$">
                        <textarea name="answer" id="answer" placeholder="Enter your answer" rows="6" required></textarea>
                    </div>
                    @{
                        if (@Model != null)
                        {
                        <div class="container">
                            <p>@Model.password</p>
                        </div>
                        }
                    }
                    <!--div class="12u$">
                            <input type="submit" value="Sign Up" class="special">
                        </!--div-->
                    <div class="3u 6u(medium) 12u$(small)">
                        <ul class="actions vertical">
                            <li>
                                <input value="Login" type="submit" class="button" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

        <!-- Image -->

    </div>
</section>


