@{
    ViewBag.Title = "loginSignup";
    Layout = "~/Views/Shared/_logSharedView.cshtml";
}




    <section id="main" class="wrapper">
        <div class="container-form">
            <header class="major">
                <h2>Login</h2>
            </header>
            <!-- Form -->
            <section>
                <form method="post" action="~/Log/checkLogin/">
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <h3>Enter User Name</h3>
                            <input type="text" name="userName" id="userName" placeholder="User Name" required />
                        </div>
                        
                        <div class="6u$ 12u$(xsmall)">
                            <h3>Password</h3>
                            <input type="password" name="password" id="password"  placeholder="password" required />
                        </div>
                        <!--div class="12u$">
                            <input type="submit" value="Sign Up" class="special">
                        </!--div-->
                        <div class="3u 6u(medium) 12u$(small)">
                            <ul class="actions vertical">
                                <li><a href="~/Log/forgotPass/" class="button alt">Forgot Password</a></li>
                                <!--li><a href="#" class="button">Login</a></!--li-->
                            </ul>
                            <div class="12u$">
                                <input type="submit" value="Login" class="special">
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <!-- Image -->

        </div>
    </section>


