@model List<EAD_Project_ii_.Models.item>
@{
    ViewBag.Title = "rates";
    Layout = "~/Views/Shared/_mySharedPage.cshtml";
}

<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <h2>Rates of All the Items</h2>
        </header>
        <section>
            <h3>Table</h3>
            <div class="table-wrapper">
                @{
                    <table>
                        <thead>
                            <tr>
                                <th>Number</th>                                
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.itemName</td>
                                    <td>@item.itemQuantity</td>
                                    <td>@item.itemPrice</td>
                                </tr>        
                            }
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td>22.00</td>
                            </tr>
                        </tfoot>
                    </table>
                }
            </div>
        </section>

        <!-- Buttons -->

    </div>
</section>

