@model EAD_Project_ii_.Models.user
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shopping Portal</title>
    <link rel="stylesheet" href="~/Content/css/skel.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/style-xlarge.css" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/skel.min.js"></script>
    <script src="~/Content/js/skel-layers.min.js"></script>
    <script src="~/Content/js/init.js"></script>
    
</head>
<body class="landing">

    <!-- Header -->

    <!-- Header -->
    <header id="header">
        <h1><a href="~/Product/insertItem/">Welcome </a></h1>
        <nav id="nav">
            <ul>
                <li><a href="~/Home/Index/">Home</a></li>
                <li><a href="~/Log/Login/">Login</a></li>
                <li><a href="~/Log/SignUp/">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h2>Online Shopping Portal</h2>
        <p>Get Your Products At the Best Prices</p>
        <ul class="actions">
            <li>
                <a href="~/Product/items/" class="button big">View Items</a>
            </li>
        </ul>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 align-center">
        <div class="container">
            <header>
                <h2>We deal in regular home items you need everyday</h2>
                <p>From dawn to dusk</p>

            </header>
            <div class="row 200%">
                <section class="4u 12u$(small)">
                    <i class="icon big rounded fa-clock-o"></i>
                    <p>24/7 service</p>
                </section>
                <section class="4u 12u$(small)">
                    <i class="icon big rounded fa-comments"></i>
                    <p>we understand your needs</p>
                </section>
                <section class="4u$ 12u$(small)">
                    <i class="icon big rounded fa-user"></i>
                    <p>Serving you with experienced workers.</p>
                </section>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2 align-center">
        <div class="container">
            <header>
                <h2>You will experience best quality, clean environment and fast service</h2>
            </header>
            <div class="row">
                <section class="feature 6u 12u$(small)">
                    <img class="image fit" src="~/Content/images/pic01.jpg" alt="" />
                    <!--h3 class="title">Lorem ipsum dolor</h3>
							<p>Lorem ipsum dodlor sit amet, consectetur adipisicing elit. Dolore ipsa voluptate, quae quibusdam. Doloremque similique, reiciendis sit quibusdam aperiam? Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p-->
                </section>
                <section class="feature 6u$ 12u$(small)">
                    <img class="image fit" src="~/Content/images/pic02.jpg" alt="" />
                    <!--h3 class="title">Esse, fugiat, in</h3>
							<p>Natus perspiciatis fugit illum porro iusto fuga nam voluptas minima voluptates deserunt, veniam reiciendis harum repellat necessitatibus. Animi, adipisci qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p-->
                </section>
                <section class="feature 6u 12u$(small)">
                    <img class="image fit" src="~/Content/images/pic03.jpg" alt="" />
                    <!--h3 class="title">Voluptates, repudiandae, dolor</h3>
							<p>Voluptatibus repellendus tempora, quia! Consequuntur atque, rerum quis, ullam labore officiis ipsa beatae dolore, assumenda eos harum repudiandae, qui ab! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p-->
                </section>
                <section class="feature 6u$ 12u$(small)">
                    <img class="image fit" src="~/Content/images/pic04.jpg" alt="" />
                    <!--h3 class="title">Eveniet, reiciendis, veniam</h3>
							<p>Rem nulla molestiae inventore quibusdam repudiandae doloremque eveniet ullam, qui autem possimus saepe laudantium numquam sapiente vel. Repudiandae, nihil tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p-->
                </section>
            </div>
            <footer>
                <ul class="actions">
                    <li>
                        <a href="~/Home/items/" class="button alt big">View Items</a>
                    </li>
                </ul>
            </footer>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <section class="4u 6u(medium) 12u$(small)">
                    <h3>Muhammad Yasir</h3>
                    <p>Founder and Cheif Executive Officer of the company</p>
                    <p>Software Engineer</p>

                </section>
                <section class="4u 6u(medium) 12u$(small)">
                    <h3></h3>


                </section>
                <section class="4u$ 12u$(medium) 12u$(small)">
                    <h3>Contact Us</h3>
                    <ul class="icons">
                        <li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
                        <li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
                        <li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                    <ul class="tabular">
                        <li>
                            <h3>Address</h3>
                            Somewhere on Earth, Milkyway, Universe.
                        </li>
                        <li>
                            <h3>Mail</h3>
                            <a href="#">yasir.khalid553@yahoo.com</a>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            0300 4446924
                        </li>
                    </ul>
                </section>
            </div>
            <ul class="copyright">
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>

</body>
</html>

